* {
    margin: 0;
    padding: 0;
    background: #F3F5FC;
    font-family: "Inter", sans-serif;
    font-weight: 400;
    font-size: 32px;
    line-height: 150%;
}

.logo-alura {
    padding-top: 40px;
    margin-left: 40px;
    width: 8%;
}

main {
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
    width: 100%;
}


.input-text {
    border: none;
    color: #0A3871;
    margin-top: 90px;
    text-transform: lowercase;
}

::placeholder {
    color: #0A3871
}

.input-text:focus {
    outline: none;
}

.text-area {
    background: #FFFF;
    background-image: url(/assets/boneco.png);
    background-repeat: no-repeat;
    background-position: center;
    border: none;
    border-radius: 24px;
    color: #0A3871;
    margin-left: 98px;
    margin-top: 20px;
    padding-left: 20px;
    width: 400px;
    /* position: fixed; */
}

.text-area:focus {
    outline: none;
}

.botoes {
    display: flex;
    margin-top: 18px;
    justify-content: space-around;
}

.btn-criptografar,
.btn-descriptografar {
    background: #0A3871;
    border: 1px solid #0A3871;
    color: #FFFF;
    border-radius: 24px;
    width: 328px;
    height: 67px;
    font-size: 16px;
    cursor: pointer;
}

.btn-descriptografar {
    background: #D8DFE8;
    color: #0A3871;
}

.btn-copiar {
    background: #D8DFE8;
    color: #0A3871;
    border: 1px solid #0A3871;
    border-radius: 24px;
    width: 336px;
    height: 67px;
    font-size: 16px;
    cursor: pointer;
    position: absolute;
    left: 62%;
    transform: translateX(-50%);
    margin-left: 180px;
    margin-top: 402px;
}

.informacao h6 {
    color: #495057;
    font-size: 20px;
}

.rodape {
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    bottom: 0;
    width: 100%;
    padding: 40px 0;
}

.rodape p,
a {
    margin-right: 20px;
    font-size: 22px;
    color: #0A3871;
}


@media (max-width: 1200px) {
    main {
        flex-direction: column;
        margin: 0px 60px;
    }

    .text-area {
        background: #FFFF;
        margin-left: 0px;
        width: 950px;
        height: 300px;
        position: fixed;
    }

    .btn-copiar {
        width: 900px;
        height: 57px;
        left: 0%;
        transform: translateX(0%);
        margin-left: 100px;
        margin-top: 220px;
    }
}

@media (max-width: 768px) {

    .text-area {
        width: 700px;
    }

    .btn-copiar {
        width: 650px;
    }
}

@media (max-width: 375px) {

    .logo-alura {
        margin-left: 20px;
        width: 30%;
    }

    .informacao h6 {
        font-size: 14px;
    }

    .botoes {
        flex-direction: column;
    }

    .btn-criptografar,
    .btn-descriptografar {
        width: 290px;
        height: 57px;
        margin-bottom: 24px;
    }

    .text-area {
        width: 290px;
    }

    .btn-copiar {
        width: 260px;
        margin-left: 90px;
        margin-top: 240px;
    }

    .rodape p,
    a {
        font-size: 18px;
    }
}